@media (max-width: 450px) {
  .board__body .card {
    padding: 10px;
    height: 100px;
  }
  .board__body .card .icon svg{
    width: 50px;
  }
  .board__footer .card .text-light {
    font-size: 12px;
  }


  .score__title, .restart__title {
    font-size: 1.5rem;
    margin: 20px 0;
  }
}
